.dashboard-container .sidebar-menu-header {
    display: flex;
    padding: 20px;
}

.dashboard-container .sidebar-menu-cont{
    overflow:hidden;
    height: 0px;
    transition: all 0.3s ease-in-out 0s;
}
.dashboard-container .sidebar-menu-cont.active{
    height: 236px;
}

.dashboard-container .sidebar-menu-cont button{
    display: block;
    background-color: transparent;
    color: #3e3f5e;
    border-radius: 10px;
    padding: 5px 12px;
    margin: 0;
    text-align: start;
}

.dashboard-container .sidebar-menu-cont button.active{
    color: #ff6728;
}

.dashboard-container .account-hub-sidebar .sidebar-menu-header.active h4{
    color: #ff6728;
}