.awards-section .buttons:after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: #000;
    z-index: 0;
}

.awards-section .buttons button{
    display: block;
    width: fit-content;
    padding: 20px 35px;
    border: 1px solid #eee;
    background-color: #fff;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

@media (max-width:540px){
    .awards-section .buttons button{
        padding: 10px 25px;
    }
}

.awards-section .buttons button.active{
    background-color: #fd6729;
    color: #fff;
}

.awards-section .award-img{
    position: relative;
}
.awards-section .award-img svg{
    position: absolute;
    right: 0;
    font-size: 150px;
    color: #fd6729;
    /* top: 50%;
    transform: translateY(-50%); */
    bottom: 20px;
}

.awards-section .award-content-wrapper {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all;
    height: 0;
    overflow: hidden;
}
.awards-section .award-content-wrapper.show{
    opacity: 1;
    visibility: visible;
    height: auto;
}