.landing-latest-container{
    padding: 0 15px;
    margin: 0 auto;
}
@media (min-width:540px){
.landing-latest-container{
    width: 450px;
}
}
@media (min-width:768px){
.landing-latest-container{
    width: 650px;
}
}
@media (min-width:992px){
.landing-latest-container{
    width: 750px;
}
}
@media (min-width:1200px){
.landing-latest-container{
    width: 1000px;
}
}

@media (min-width:1300px){
.landing-latest-container{
    width: 1200px;
}
}