.select-box {
	position: relative;
	width: 400px;
	max-width: 100%;
	font-size: 1.15rem;
	color: #000;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.select-box .select-button {
	position: relative;
	width: 100%;
	font-size: 1.15rem;
	/* background-color: var(--input-bg-color); */
	background-color: transparent;
	padding: 0.675em 1em;
	/* border: 1px solid var(--input-border-color); */
	border: 1px solid #dedeea;
	border-radius: 12px;
	/* border-radius: 0.25rem; */
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.select-box .select-button span {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border-right: 2px solid #fd6729;
	border-top: 2px solid #fd6729;
	transform: rotate(-45deg);
	transition: 0.5s all ease-in-out;
	right: 20px;
}

.select-box .select-button .menu-opened {
	transform: rotate(-45deg);
}

.select-box .select-button .menu-closed {
	transform: rotate(135deg);
}

.select-box .select-dropdown {
	position: absolute;
	list-style: none;
	width: 100%;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	border: 1px solid #caced1;
	border-radius: 4px;
	padding: 10px;
	margin-top: 2px;
	max-height: 200px;
	overflow-y: auto;
	transition: 0.5s ease;
	z-index: 99999;
}
.register-form
	.register-selectors-container
	.select-box
	.select-dropdown:focus-within {
	box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
}

.select-box .select-dropdown li {
	cursor: pointer;
	margin: 10px 0;
}

.register-form
	.register-selectors-container
	.select-box
	.select-dropdown::-webkit-scrollbar {
	width: 7px;
}
.register-form
	.register-selectors-container
	.select-box
	.select-dropdown::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 25px;
}

.register-form
	.register-selectors-container
	.select-box
	.select-dropdown::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 25px;
}

@media screen and (max-width: 400px) {
	.select-box .select-button {
		font-size: 0.8rem;
	}
}
