.landing-location-container{
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.landing-location .buttons{
  display: flex;
  justify-content: center;
  gap: 12rem;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -3px;
  z-index: 5;
}
.landing-location .buttons button {
  font-size: 18px;
  color: #b7b7b7;
  width: fit-content;
  padding: 10px;
  border-radius: 50%;
}

.landing-location .buttons .swiper-button-disabled, 
.landing-location .buttons .swiper-button-disabled {
    opacity: 0.5;
}

.landing-location .location-swiper>.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ff6728ed !important;
  transform: scale(1.2);
}

.landing-location .location-swiper>.swiper-pagination .swiper-pagination-bullet {
  /* background-color: #ff692876; */
}
@media (min-width:540px){
  .landing-location-container{
    width: 450px;
}
}
@media (min-width:768px){
  .landing-location-container{
    width: 650px;
  }
  .landing-location .buttons{
    gap: 20rem;
  }
}
@media (min-width:992px){
  .landing-location-container{
    width: 750px;
  }
}
@media (min-width:1200px){
  .landing-location-container{
    width: 1000px;
  }
}

@media (min-width:1300px){
  .landing-location-container{
    width: 1200px;
  }
}

