.landing-location .buttons{
  display: flex;
  justify-content: center;
  gap: 12rem;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.landing-location .buttons button {
  font-size: 18px;
  color: #b7b7b7;
  width: fit-content;
  padding: 10px;
  border-radius: 50%;
}

.landing-location .buttons .swiper-button-disabled, 
.landing-location .buttons .swiper-button-disabled {
    opacity: 0.5;
}
.landing-location .location-swiper>.swiper-pagination{
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.landing-location .location-swiper>.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ff6728ed !important;
  transform: scale(1.2);
}

.landing-location .location-swiper>.swiper-pagination .swiper-pagination-bullet {
  /* background-color: #ff692876; */
}


