.property-details-hero{
    position: relative;
    height: 500px;
}
.property-details-hero .marketplace-container{
    z-index: 5;
    margin-top: -50px;
}
@media (max-width:600px){
    .property-details-hero{
        height: 300px;
    }
}

.property-hero-swiper .swiper-slide{
    overflow: hidden;
}
.property-hero-swiper img{
    transition: 0.5s;
}
.property-hero-swiper img:hover{
    transform: scale(1.1);
}


.property-details-hero .badge {
    align-items: center;
    background: #fff1e7;
    border-radius: 10px;
    color: #ff6900;
    display: inline-flex;
    padding: 5px 8px 5px 20px;
    position: relative;
    text-transform: capitalize;
    font-family: "Rajdhani", sans-serif;
    font-size: 14px;
}
.property-details-hero .badge::before{
    background: #ff6900;
    border-radius: 10px;
    content: "";
    height: 8px;
    left: 5px;
    position: absolute;
    width: 8px;
    text-transform: capitalize;
}
.property-details-hero .badge-status{
    border: 1px solid #eee;
    background-color: #fff;
    padding: 2px 15px;
    border-radius: 25px;
    font-size: 14px;
    text-transform: capitalize;
    font-family: "Rajdhani", sans-serif;
}
.property-details-hero .badge-developer{
    background-color: #1A4482;
    color: white;
    text-transform: capitalize;
    padding: 2px 15px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Rajdhani", sans-serif;
}
.property-details-hero .share-selection{
    cursor: pointer;
}

.property-details-hero .fav-selection {
    position: relative;
}
.property-details-hero .fav-selection .fav-icon,
.property-details-hero .share-selection .share-icon{
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.property-details-hero .fav-selection .fav-checkbox{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.property-details-hero .fav-selection .fav-checkbox:hover:not(:checked) ~ span svg{
    color: rgba(255, 105, 0, 1);
}
.property-details-hero .fav-selection .fav-checkbox:checked ~ span{
    background-color: rgba(255, 105, 0, 1);
    color: #fff;
}
.property-details-hero .share-selection .share-icon{
    color: #b0b0b0;
    transform: rotate(180deg);
}