.director-board-section .director-card{
    border: 1px solid #eee;
    transition: 0.5s;
}
.director-board-section .director-card .director-card-info{
    padding: 25px 15px;
    text-align: center;
}
.director-board-section .director-card:hover{
    box-shadow: 0 4.4px 12px -1px #dedede5c;
}
.director-board-section .director-card .director-card-info h3{
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.director-board-section .director-card .director-card-info p{
    margin-bottom: 15px;
}