.landing-hero-header{
    position: relative;
    height: calc(100vh - 80px);
}

@media (max-width:600px){
    .landing-hero-header{
        height: 100vh;
    }
}

.landing-hero-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
    opacity: 0.3;
}
.landing-hero-header .marketplace-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: unset;
}
.landing-hero-header .marketplace-container video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}

.landing-hero-form .btn-tabHeroFrom{
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 5px 5px 0 0 !important;
    width: fit-content;
    font-size: 14px;
}
.landing-hero-form .btn-tabHeroFrom.active{
    background-color: #fd6729;
    color: #fff;
}
.landing-hero-form .btn-tabHeroFrom.active svg{
    fill: white;
}
.landing-hero-form .all-hero-forms form{
    border-radius: 0 5px 5px 5px !important;
}

.landing-hero-form form{
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0 5px 5px 5px !important;
}

.landing-hero-form form .form-item{
    background-color: #fff;
    border-right:1px solid #ddd;
    position: relative;
    padding: 20px 0 15px 60px;
}
.landing-hero-form form .form-item.search-field{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
}
.landing-hero-form form input[type="text"]{
    border:none;
    border-radius: 0;
    height: 100%;
}
.landing-hero-form form select{
    border: none;
    border-radius: 0;
    cursor: pointer;
}
.landing-hero-form form input[type="button"]{
    background-color: #fd6729;
    color: white;
    padding: 15px;
    cursor: pointer;
    height: 100%;
}
.landing-hero-form form .form-item svg:first-child{
    font-size: 30px;
}


/* @media (min-width:540px){
    .landing-hero-header-container{
      width: 450px;
  }
}
@media (min-width:768px){
.landing-hero-header-container{
    width: 650px;
}
.landing-featured .buttons{
    gap: 20rem;
}
}
@media (min-width:992px){
.landing-hero-header-container{
    width: 750px;
}
}
@media (min-width:1200px){
.landing-hero-header-container{
    width: 1000px;
}
}

@media (min-width:1300px){
.landing-hero-header-container{
    width: 1200px;
}
} */

@media (max-width:1023px){
    .landing-hero-form form{
        flex-direction: column;
    }
    .landing-hero-form form .form-item{
        border-radius: 0;
        border-bottom: 1px solid #ddd;
        padding-right: 10px;
    }
    .landing-hero-form form .form-item:first-child{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 45px;
    }
    .landing-hero-form form .button-submit{
        background-color: #fff;
        text-align: end;
    }
    .landing-hero-form form input[type="button"]{
        padding: 6px 20px;
        border-radius: 5px;
        margin: 10px 15px;
        font-family: "Rajdhani", sans-serif;
    }
}

/* Media of Form Button */
@media (max-width:768px){
    .landing-hero-form .btn-tabHeroFrom{
        padding: 10px 20px;
    }
}