.landing-hero-header{
    position: relative;
    height: 500px;
}
.landing-hero-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
    opacity: 0.3;
}
.landingl-hero-header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.landingl-hero-header-container video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}
.landingl-hero-header-container .header-item-info{
    font-size: 30px;
}